<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ESTILOS CSS -->

    <title>Holanda</title>
</head>

<body>
    <!----------------------NAV BAR------------------------->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img class="logotipo" src="../../../assets/img/logo/logo_clip.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <div class="navbar-nav ml-auto">
                        <!-- <a class="nav-link" href="#inicio" style="color: black;">Iniciar Sesion</a>
                    <a class="nav-link" href="#register" style="color: black;">Registrarme</a> -->
                        <a class="nav-link" href="#aboutus" style="color: black;">Quienes somos</a>



                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Iniciar Sesion
            </button>

                    </div>
                </div>
            </div>
        </nav>



    </header>

    <!---------------------- CAROUSEL ------------------------->
    <div class="slide-container">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/carousel/slide4.jpg" class="d-block w-100" alt="slider01">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/carousel/slide2.jpg" class="d-block w-100" alt="slider02">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/carousel/slide3.jpg" class="d-block w-100" alt="slider03">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Atras</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <!---------------------------- MAIN ------------------------------>

    <main>

        <section>
            <div class="container main-container">
                <br><br><br><br><br>
                <h1 style="color:black;text-align: center;font-size: 40px;">CLIP MONEY</h1>
                <p style="font-size: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque ea eius itaque in adipisci ipsum exercitationem mollitia, ab dolorum quae totam sapiente, modi aspernatur reiciendis quasi praesentium deserunt id dicta?Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Voluptatem repudiandae nihil expedita! Ab tempore necessitatibus explicabo aliquid vel error voluptatibus repellat quod. Sint quibusdam deserunt architecto id, fuga aliquid quod?Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Maxime dolorem accusantium debitis est eligendi, deserunt ipsam nesciunt architecto placeat aliquid id quasi provident aut, quia cum, minus consequatur modi adipisci?Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quidem maxime ratione enim dolore rem placeat tempore iure non aliquid praesentium nostrum consequuntur a quam, qui eos dolor, obcaecati eligendi veritatis.</p>
            </div>

        </section>

        <div id="aboutus" class="container">
            <h1 style="color:black;text-align: center;font-size: 40px;">¿QUIENES SOMOS?</h1>
            <br>
            <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Praesent semper feugiat nibh sed. Odio ut sem
                nulla pharetra. Eget velit aliquet sagittis id consectetur purus ut. Risus sed vulputate odio ut. Donec ac odio tempor orci dapibus ultrices in. Varius quam quisque id diam vel quam elementum pulvinar. Donec enim diam vulputate ut pharetra
                sit. Sagittis nisl rhoncus mattis rhoncus. Eu nisl nunc mi ipsum faucibus vitae aliquet nec. Nec dui nunc mattis enim ut tellus elementum. Ut aliquam purus sit amet luctus venenatis lectus. At erat pellentesque adipiscing commodo elit.
                Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Pretium quam vulputate dignissim suspendisse in est ante in. Ornare arcu odio ut sem nulla pharetra diam sit. Bibendum at varius vel pharetra vel turpis nunc eget. Eget
                aliquet nibh praesent tristique.
            </p>

        </div>

        <!-------------------------- Modal ---------------------------------->

        <div class="modal" data-toggle="modal" data-backdrop="false" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="login-form">
                <div class="container">
                    <div class="login">
                        <div class="form-icon">
                            <img src="../../../assets/img/logo/logo_clip.png" width="200" alt="">
                        </div>

                        <form action="#" method="post" class="form-horizontal">
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user-circle"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario" [formControl]="usernameControl">
                            </div>

                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña" [formControl]="passwordControl">
                            </div>

                            <button type="button" class="btn signin" (click)="onSubmit()"> Iniciar Sesión</button>
                            <span class="signup">No tienes cuenta? <a class="href-reg" routerLink="/registro">
                  <span class="href-reg">Hace click aqui</span>
                            </a>


                            </span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>



    <!---------------------- FOOTER ------------------------->
    <footer>
        <div class="container text-muted text-center py-3 mt-5">
            <br><br>
            <img class="imgFooter" src="../../../assets/img/logo/logo_clip.png" alt="">
            <br><br>
            <h5 class="pieFooter">Copyright &copy; 2020 | Grupo 4</h5>
        </div>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>