<div mat-dialog-content>

    <h4 class="text-center title ">Ingresar email</h4>
    <br>




    <form [formGroup]="upMail " (ngSubmit)="onMail(upMail.value) ">
        <span> Alias del destino: </span>
        <input class="input " type="text " name="email " id="email " placeholder="email " formControlName="email">
        <div class="error" *ngIf="upMail.get('email').hasError('required')  &&
                           upMail.get('email').touched">
            Campo obligatorio*
        </div>
        <div class="error" *ngIf="upMail.get('email').hasError('pattern') &&
                           upMail.get('email').touched">
            No es un email valido*

        </div>
        <br>
        <br>

        <button type="submit " class="btn btn-success colorNuevo" [disabled]="upMail.invalid">Mandar email</button>


    </form>

</div>
<div mat-mat-dialog-actions>
    <br>

    <button class="btn btn-danger colorsCerrar" mat-button [mat-dialog-close]="true">Cerrar</button>
</div>