body {
    font-family: 'Quicksand', sans-serif;
}

.title {
    margin: 2%;
    padding: 1%;
    color: white;
    background-image: linear-gradient(#24803C, #5EAB97);
}

.colorsCerrar {
    background-color: #d9534f !important;
    color: white;
}

.colorNuevo {
    background-color: #5cb85c !important;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 7%;
}

.title {
    margin: 2%;
    padding: 1%;
    color: white;
    background-image: linear-gradient(#24803C, #5EAB97);
}

.main-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
}

.data-cliente {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}