body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color:#1E1F26;
    font-family: 'Quicksand', sans-serif;
}
.arrow{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.img-arr{
    width: 15%;
    /*height: 15%;*/
}
.title{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2.5em;
}
.header{
    color:#f9ba32;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}
.cont-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.cont-reg{
    background-color: #f9ba32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 50%;
    height: 100%;
}
.inp-reg{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 1%;
}
.inp-reg span{
    display: flex;
    justify-content: center;
    padding: 0.2%;
}
.direc-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}
.direc-flex{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 40%;
}
.direc-flex span{
    padding-right: 5%;
}
.btn-reg{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
.btn{
    width: 20%;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color:#1E1F26 ;
    border-color: #81611b;
    border-radius: 25px;
    color: #f9ba32;
}