.login-form{
	margin-top: 50px;
}
.login{
	max-width: 330px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 4px;
	padding: 50px 45px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.form-icon{
    text-align:center;
}
.form-icon i{
	font-size: 100px;
	display: block;
	color: #47d9f1;
}
.login .form-horizontal{
    padding: 40px 0;
    margin-top: 45px;
}
.login .form-group{
	background-color: rgba(255, 255, 255, 0.15);
	margin: 0 0 20px;
	border: none;
	border-radius: 20px;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0px 2px 5px 0px #47d9f1;
}
.login .input-icon{
	color: #bec6d4;
	font-size: 15px;
	text-align: absolute;
	height: 40px;
	width: 40px;
	line-height: 40px;
	vertical-align: top;
	display: inline-block;
}
.login .form-control{
	color: #bec6d4;
	background: transparent;
	font-size: 16px;
	letter-spacing: 1.5px;
	width: calc(100% - 55px);
	height: 40px;
	padding: 0;
	border: none;
	border-radius: 0;
	display: inline-block;
	transition: all 0.3s;
}
.login .form-control:focus{
	box-shadow: none;
	border: none;
}
.login .form-control::placeholder{
	color: #bec6d4;
	font-size: 15px;
	text-transform: capitalize;
}
.btn.signin{
	color: rgba(255, 255, 255, 0.8);
	background: #47D9F4;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	border-radius: 20px;
	transition: all 0.3s ease;
	outline: 0;
	margin-top: 30px;
	padding: 10px 40px;
}
.signup{
	font-size: 17px;
	text-align: center;
	display: block;
	color: #bec6d4;
	margin-top: 25px;
	font-weight: 300;
}
.signup a{
	color: #47d9f1;
	transition: all 0.3s ease;
}
.signup a:hover{
	color: #777;
	text-decoration: underline;
}

/*registermodal*/
.login .modal-sm{
    width: 330px;
}

.login .modal-title{
    font-size: 30px;
    color: #47d9f4;
}

.Condiciones label{
    font-weight: 300;
}

.Condiciones{
    text-decoration: none;
}