<!-- <form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input type="text" class="form-control" id="username" placeholder="Ingresá tu nombre de usuario"
      [formControl]="usernameControl">
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" placeholder="Contraseña" [formControl]="passwordControl">
  </div>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="container">

        <div class="col-12">
            <div class="header">
                <span class="title">CLIP MONEY</span>
                <span>Nosotros cuidamos tu dinero</span>
            </div>

        </div>





        <form (ngSubmit)="onSubmit()">
            <div class="cont-log">
                <div class="inp-log">
                    <span>Nombre de usuario</span>
                    <input type="text" id="userLog" placeholder='Ej: Rodrigo Lopez' required [formControl]="usernameControl">

                </div>
                <div class="inp-log">
                    <span>Contrasena</span>
                    <input type="password" id="passwordLog" placeholder='Ej: contraseña' required [formControl]="passwordControl">
                </div>
                <div class="inp-log log-button">
                    <button type="submit" class="btn-acept">ACEPTAR</button>
                </div>
                <div class="inp-log registro">
                    <span>No estas registrado?</span>
                    <a class="href-reg" routerLink="/registro">
                        <span class="href-reg">HACE CLICK ACA</span>
                    </a>

                </div>
            </div>
        </form>

    </div>







</body>

</html>